<br>
<div class="padding">
  <h1> Stupid Coaching </h1>
</div>
<div class="padding">
  Ask your coach anything:
  <br>
  <br>
  <form action="/answer"  method="get">
    <input type="text" name="question" placeholder= "Ask Coach!">
    <input type="submit" value="Ask!" >
  </form>
</div>
