<div class="padding">
  <h1> Stupid Coaching </h1>
</div>

<div class="padding">
  <div class= "box-shadow">
    <%= @question%>
  <br>
  - You
  </div>

  <div class="box-shadow">
    <%= @coach_answer %>
    <br>
    - Your Coach
  </div>

</div>

<div class="padding">
  <%= link_to "Ask a new question", about_path %>
</div>
